.repos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;

  .repo-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    padding: 1rem;
    border: 1px solid var(--light-gray-color);
    border-radius: 8px;
    background-color: var(--light-gray-card-background-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.05);
    }

    .repo-header {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: var(--blue);
      width: 100%;
      margin-bottom: 0.75rem;

      &:hover {
        text-decoration: underline;
      }

      .owner-avatar {
        margin-right: 0.75rem;
    
        .avatar {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    
      .repo-info {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        max-width: calc(100% - 50px - 0.75rem);
        justify-content: center;
        width: 100%;
        
        .repo-name {
          text-align: center;
          overflow-wrap: break-word;
          white-space: normal;
          margin: 0;
        }
    
        .owner-login {
          margin: 0.3rem 0 0 0;
          font-size: 0.85rem;
          color: var(--dark-gray-color);
          text-align: center;
        }
      }
    }

    .repo-stats {
      list-style: none;
      padding: 0;
      width: 100%;
      font-size: 0.85rem;
      color: var(--primary-color);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-wrap: wrap;

      li {
        margin-bottom: 0.3rem;
        
        &::before {
          margin-right: 0.3rem;
        }
      }

      .stars::before {
        content: "⭐";
      }

      .forks::before {
        content: "🍴";
      }

      .issues::before {
        content: "🐛";
      }

      .languages::before {
        content: "📝";
      }
    }
  }
}